@import "tailwindcss";

:root {
  color-scheme: light !important;
}

html, body {
  background-color: #ffffff !important;
  color: #404145 !important;
}

input, select, textarea {
  color: #404145 !important;
  background-color: #ffffff !important;
}

input::placeholder, textarea::placeholder {
  color: #74767e !important;
  opacity: 1 !important;
}
